<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <% include ./partials/_header %>
</header>
<h1>Welcome to TinyApp!</h1>
<h2>Here are the results of the loop:</h2>
<ul>
  <% for (var key in urls) { %>
    <li><%= key %> => <a href="<%= urls[key] %>"><%= urls[key] %></a> <a href="/urls/<%= key %>">Edit</a><form action="/urls/<%= key %>/delete" method="POST"><input type="submit" value="Delete"></li>
  <%  } %>
</ul>
</body>
</html>
