<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <% include ./partials/_header %>
</header>
<h1>Welcome to TinyApp!</h1>
<h2>Here are your tiny URLs:</h2>
<ul>
  <% for (var url in urls) { %>
    <li><a href="http://localhost:8080/u/<%= urls[url].shortURL %>"><%= urls[url].shortURL %></a> => <a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a> <form action="/urls/<%= url %>" method="GET"><input type="submit" value="Edit"></form><form action="/urls/<%= url %>/delete" method="POST"><input type="submit" value="Delete"></form></li>
  <%  } %>
</ul>
<br><strong>Click <a href="/urls/new">here</a> to create a new tiny URL.</strong>
</body>
</html>
